<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
</head>
<body>
{% if request.user.is_authenticated %}
{% for i,v in data.items %}
{{ i }} {{ v }}<br>
{% endfor %}

<a href="{% url 'logout' %}">Log out</a>



<div class="d" style="width: 400px; border: 2px solid cadetblue">
    {% for m in users %}
        {{ m.username }}| <a href="{% url 'chat'  m.pk %}">Send message</a><br>
    {% endfor %}

</div>



{% else %}
<a href="{% url  'register' %}">register</a> |
<a href="{% url  'login' %}">login</a>
{% endif %}
</body>
</html>